#ContactForm{
  max-width: 33%;
  align-content: center;
  margin: auto;
  margin-top: 15px;

  h1 {
      margin-bottom: 15px;
  }

  button{
      float: right;
  }
}

mat-form-field {
    display: block;
}

textarea {
    min-height: 130px;
}
