<div id="contact-list">  
  <table class="mat-elevation-z8">
    <thead>
      <tr>
          <th></th>
          <th>Name</th>
          <th>Company</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let contact of ContactList'>
          <td [ngSwitch]="contact.profilePicUrl">
            <button class="img-button [class.mat-elevation-z4]" href="#">
              <p>+</p> 
              <img class="contact-image" *ngSwitchCase="undefined" src="..\assets\images\avatar_placeholder.png">
              <img class="contact-image" *ngSwitchDefault [src]="contact.profilePicUrl"> 
            </button>
          </td>
          <td> {{ contact.name }} </td>
          <td> {{ contact.company }} </td>
          <td>
              <a mat-raised-button [routerLink]="['/Contact', contact.id]" >INFO</a>
              <button mat-raised-button color="warn" (click)="deleteContact(contact.id)">DELETE</button>
              <a mat-raised-button color="primary" [routerLink]="['/contacts', 'edit', contact.id]">EDIT</a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
