<div >  
  <table class="mat-elevation-z8">
    <thead>
      <tr>
          <th></th>
          <th>Name</th>
          <th>Company</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let contact of ContactList'>
          <td> <img class="product-image" *ngIf="contact.profilePicUrl" [src]="contact.profilePicUrl"> </td>
          <td> {{ contact.name }} </td>
          <td> {{ contact.company }} </td>
          <td>
              <a mat-raised-button [routerLink]="['/Contact', contact.id]" >INFO</a>
              <a mat-raised-button color="warn" [routerLink]="['/contacts', 'delete', contact.id]">DELETE</a>
              <a mat-raised-button color="primary" [routerLink]="['/contacts', 'edit', contact.id]">EDIT</a>
          </td>
      </tr>
    </tbody>
  </table>
</div>