<div class="container" id="ContactDetails">
    <div class="row">
        <div class="col"> 
            <img class="product-image" *ngIf="contact.profilePicUrl" [src]="contact.profilePicUrl">
            <h1> {{ contact.name }} </h1>
        </div>   
        <div class="col">
            <p> {{ contact.company }} </p>
            <p> {{ contact.email }} </p>
            <p> {{ contact.phoneNumberWork }} </p>
        </div>
        <div class="col">
            <p> {{ contact.birthday }} </p>
            
            <p> {{ contact.phoneNumberHome }} </p>
            <p> {{ contact.address }} </p>
        </div>
    </div>
</div>
