<div class="container" >
    <div class="row mat-elevation-z8" id="ContactDetails">
        <div class="col" [ngSwitch]="contact.profilePicUrl">
            <img class="contact-image-details mat-elevation-z4" *ngSwitchCase="undefined" src="..\assets\images\avatar_placeholder.png">
            <img class="contact-image-details mat-elevation-z4" *ngSwitchDefault [src]="contact.profilePicUrl">  
            <h1> {{ contact.name }} </h1>
        </div>   
        <div class="col">
            <div *ngIf="contact.company" class="data-element">
                <h5>Company:</h5>
                <p> {{ contact.company }} </p>
            </div>
            <div *ngIf="contact.email" class="data-element">
                <h5>Email:</h5>
                <p> {{ contact.email }} </p>
            </div>
            <div *ngIf="contact.phoneNumberWork" class="data-element">
                <h5>Phone Work:</h5>
                <p> {{ contact.phoneNumberWork }} </p>
            </div>
        </div>
        <div class="col">
            <div *ngIf="contact.birthday" class="data-element">
            <h5>Birthday:</h5>
            <p> {{ contact.birthday }} </p>
            </div>

            <div *ngIf="contact.address" class="data-element">
                <h5>Address:</h5>
                <p> {{ contact.address }} </p>
            </div>

            <div *ngIf="contact.phoneNumberHome" class="data-element">
                <h5>Phone Home:</h5>
                <p> {{ contact.phoneNumberHome }} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
                <a mat-raised-button [routerLink]="['']" >BACK</a>
                <button mat-raised-button color="warn" (click)="deleteContact(contact.id)">DELETE</button>
                <a mat-raised-button color="primary" [routerLink]="['/contacts', 'edit', contact.id]">EDIT</a>
        </div>
    </div>
</div>
